<h1 style="color:#ffc0cb;font-size:70px;font-family:Georgia;text-align:center;"><strong>DataCo SMART SUPPLY CHAIN</strong></h1>

In [1]:
# Install a conda package in the current Jupyter kernel
import sys

# work with data in tabular representation
from datetime import time
import pandas as pd

# round the data in the correlation matrix
import numpy as np
import os
import glob

# run a python function file 
%run ../src/cleaning.py

# ignore Depreca python function file 
%run ../src/cleaning.py
​
# ignore DeprecationWarning Error Messages
import warnings
warnings.filterwarnings('ignore')
ationWarning Error Messages
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
from scipy.stats import kurtosis, skew

df = pd.read_csv('../data/external/dataco_supply_chain.csv', error_bad_lines=False, encoding= 'unicode_escape')

# convert to datetime datatype
df['shipping date (DateOrders)'] = pd.to_datetime(df['shipping date (DateOrders)'])

print("The shape of the ORGINAL data is (row, column):", str(df.shape))

# Remove two columns that have the most null values
df = df.drop(['Product Description', 'Order Zipcode'], axis = 1)

print()
profile_summary(df)
print("The shape of the AFTER data is (row, column):", str(df.shape))
# convert columns to the best possible dtypes, object->string
df = df.convert_dtypes()

# Cast all values inside the dataframe (except the columns' name) into lower case.
df = df.applymap(lambda s: s.lower() if type(s) == str else s)
    
# remove extra leading and trailing whitespace 
whitespace_remover(df)

df.info()

The shape of the ORGINAL data is (row, column): (180519, 53)

Profiling datasets
                        Attribute            Type  Num. Missing Values  Num. Unique Values            Sknewness   Kurtosis
0        Days for shipping (real)           int64                    0                   7             0.084771  -1.007919
1   Days for shipment (scheduled)           int64                    0                   4            -0.731992  -1.022954
2               Benefit per order         float64                    0               21998            -4.741795  71.375248
3              Sales per customer         float64                    0                2927             2.888422  23.919666
4              Late_delivery_risk           int64                    0                   2            -0.194073  -1.962336
5                     Category Id           int64                    0                  51             0.361622  -0.603278
6                     Customer Id           int64                    0               20652             0.488764   0.014865
7                Customer Zipcode         float64                    3                 996  0.49087933052577143  -1.451412
8                   Department Id           int64                    0                  11             0.273318  -0.181725
9                        Latitude         float64                    0               11250            -0.097962  -1.555405
10                      Longitude         float64                    0                4487            -0.498457   2.180889
11              Order Customer Id           int64                    0               20652             0.488764   0.014865
12                       Order Id           int64                    0               65752             0.032709  -1.152937
13         Order Item Cardprod Id           int64                    0                 118             0.138253  -1.267492
14            Order Item Discount         float64                    0                1017              3.03977  25.230535
15       Order Item Discount Rate         float64                    0                  18             0.340925  -0.901165
16                  Order Item Id           int64                    0              180519                  0.0       -1.2
17       Order Item Product Price         float64                    0                  75             3.190993  23.312319
18        Order Item Profit Ratio         float64                    0                 162            -2.893507   10.15691
19            Order Item Quantity           int64                    0                   5             0.880245  -0.753714
20                          Sales         float64                    0                 193             2.884225  23.935865
21               Order Item Total         float64                    0                2927             2.888422  23.919666
22         Order Profit Per Order         float64                    0               21998            -4.741795  71.375248
23                Product Card Id           int64                    0                 118             0.138253  -1.267492
24            Product Category Id           int64                    0                  51             0.361622  -0.603278
25                  Product Price         float64                    0                  75             3.190993  23.312319
26                 Product Status           int64                    0                   1                  0.0       -3.0
27                           Type          object                    0                   4                  N/A        N/A
28                Delivery Status          object                    0                   4                  N/A        N/A
29                  Category Name          object                    0                  50                  N/A        N/A
30                  Customer City          object                    0                 563                  N/A        N/A
31               Customer Country          object                    0                   2                  N/A        N/A
32                 Customer Email          object                    0                   1                  N/A        N/A
33                 Customer Fname          object                    0                 782                  N/A        N/A
34                 Customer Lname          object                    8                1110                  N/A        N/A
35              Customer Password          object                    0                   1                  N/A        N/A
36               Customer Segment          object                    0                   3                  N/A        N/A
37                 Customer State          object                    0                  46                  N/A        N/A
38                Customer Street          object                    0                7458                  N/A        N/A
39                Department Name          object                    0                  11                  N/A        N/A
40                         Market          object                    0                   5                  N/A        N/A
41                     Order City          object                    0                3597                  N/A        N/A
42                  Order Country          object                    0                 164                  N/A        N/A
43        order date (DateOrders)          object                    0               65752                  N/A        N/A
44                   Order Region          object                    0                  23                  N/A        N/A
45                    Order State          object                    0                1089                  N/A        N/A
46                   Order Status          object                    0                   9                  N/A        N/A
47                  Product Image          object                    0                 118                  N/A        N/A
48                   Product Name          object                    0                 118                  N/A        N/A
49     shipping date (DateOrders)  datetime64[ns]                    0               63701                  N/A        N/A
50                  Shipping Mode          object                    0                   4                  N/A        N/A
The shape of the AFTER data is (row, column): (180519, 51)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 51 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180516 non-null  object
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  object
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Product Card Id                180519 non-null  int64
 44  Product Category Id            180519 non-null  int64
 45  Product Image                  180519 non-null  object
 46  Product Name                   180519 non-null  object
 47  Product Price                  180519 non-null  float64
 48  Product Status                 180519 non-null  int64
 49  shipping date (DateOrders)     180519 non-null  datetime64[ns]
 50  Shipping Mode                  180519 non-null  object
dtypes: datetime64[ns](1), float64(12), int64(14), object(24)
memory usage: 70.2+ MB

<h1 style="color:#ffc0cb;font-size:70px;font-family:Georgia;text-align:center;"><strong>Rename columns to snake case</strong></h1>
Clean columns to SQL Convention using [Skimpy](https://github.com/aeturrell/skimpy): by default what I get back is in snake case:

In [3]:
import pandas as pd
from rich import print
from skimpy import clean_columns

df = clean_columns(df)
print(list(df.columns))

[
    'type',
    'days_for_shipping_real',
    'days_for_shipment_scheduled',
    'benefit_per_order',
    'sales_per_customer',
    'delivery_status',
    'late_delivery_risk',
    'category_id',
    'category_name',
    'customer_city',
    'customer_country',
    'customer_email',
    'customer_fname',
    'customer_id',
    'customer_lname',
    'customer_password',
    'customer_segment',
    'customer_state',
    'customer_street',
    'customer_zipcode',
    'department_id',
    'department_name',
    'latitude',
    'longitude',
    'market',
    'order_city',
    'order_country',
    'order_customer_id',
    'order_date_date_orders',
    'order_id',
    'order_item_cardprod_id',
    'order_item_discount',
    'order_item_discount_rate',
    'order_item_id',
    'order_item_product_price',
    'order_item_profit_ratio',
    'order_item_quantity',
    'sales',
    'order_item_total',
    'order_profit_per_order',
    'order_region',
    'order_state',
    'order_status',
    'product_card_id',
    'product_category_id',
    'product_image',
    'product_name',
    'product_price',
    'product_status',
    'shipping_date_date_orders',
    'shipping_mode'
]

In [4]:
df.head()

,type,days_for_shipping_real,days_for_shipment_scheduled,benefit_per_order,sales_per_customer,delivery_status,late_delivery_risk,category_id,category_name,customer_city,...,order_state,order_status,product_card_id,product_category_id,product_image,product_name,product_price,product_status,shipping_date_date_orders,shipping_mode
0,debit,3,4,91.250000,314.640015,advance shipping,0,73,sporting goods,caguas,...,java occidental,complete,1360,73,http://images.acmesports.sports/smart+watch,smart watch,327.75,0,2018-02-03 22:56:00,standard class
1,transfer,5,4,-249.089996,311.359985,late delivery,1,73,sporting goods,caguas,...,rajastã¡n,pending,1360,73,http://images.acmesports.sports/smart+watch,smart watch,327.75,0,2018-01-18 12:27:00,standard class
2,cash,4,4,-247.779999,309.720001,shipping on time,0,73,sporting goods,san jose,...,rajastã¡n,closed,1360,73,http://images.acmesports.sports/smart+watch,smart watch,327.75,0,2018-01-17 12:06:00,standard class
3,debit,3,4,22.860001,304.809998,advance shipping,0,73,sporting goods,los angeles,...,queensland,complete,1360,73,http://images.acmesports.sports/smart+watch,smart watch,327.75,0,2018-01-16 11:45:00,standard class
4,payment,2,4,134.210007,298.250000,advance shipping,0,73,sporting goods,caguas,...,queensland,pending_payment,1360,73,http://images.acmesports.sports/smart+watch,smart watch,327.75,0,2018-01-15 11:24:00,standard class

In [5]:
df.to_csv('../data/interim/dataco_supply_chain.csv', index=False)

<h1 style="color:#ffc0cb;font-size:70px;font-family:Georgia;text-align:center;"><strong>Description</strong></h1>

In [6]:
import numpy as np
from scipy.stats import kurtosis, skew

df = pd.read_csv('../data/external/description.csv', error_bad_lines=False, encoding= 'unicode_escape')

print("The shape of the ORGINAL data is (row, column):", str(df.shape))

print()
profile_summary(df)

# convert columns to the best possible dtypes, object->string
df = df.convert_dtypes()


# Cast all values inside the dataframe (except the columns' name) into lower case.
df = df.applymap(lambda s: s.lower() if type(s) == str else s)
    
# remove extra leading and trailing whitespace 
whitespace_remover(df)

# rename columns
df = clean_columns(df)
print(list(df.columns))

print(df.info())


df.to_csv('../data/interim/description.csv', index=False)

df.head()

The shape of the ORGINAL data is (row, column): (52, 2)

Profiling datasets
     Attribute    Type  Num. Missing Values  Num. Unique Values Sknewness Kurtosis
0       FIELDS  object                    0                  52       N/A      N/A
1  DESCRIPTION  object                    0                  51       N/A      N/A

['fields', 'description']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fields       52 non-null     object
 1   description  52 non-null     object
dtypes: object(2)
memory usage: 960.0+ bytes

None

,fields,description
0,type,: type of transaction made
1,days for shipping (real),: actual shipping days of the purchased product
2,days for shipment (scheduled),: days of scheduled delivery of the purchased...
3,benefit per order,: earnings per order placed
4,sales per customer,: total sales per customer made per customer

<h1 style="color:#ffc0cb;font-size:70px;font-family:Georgia;text-align:center;"><strong>LOGS DATASET</strong></h1>

In [7]:
import numpy as np
from scipy.stats import kurtosis, skew

df = pd.read_csv('../data/external/tokenized_access_logs.csv', error_bad_lines=False, encoding= 'unicode_escape')

print("The shape of the ORGINAL data is (row, column):", str(df.shape))

# convert to datetime datatype
df['Date'] = pd.to_datetime(df['Date'])

print()
profile_summary(df)

# convert columns to the best possible dtypes, object->string
df = df.convert_dtypes()

# Cast all values inside the dataframe (except the columns' name) into lower case.
df = df.applymap(lambda s: s.lower() if type(s) == str else s)
    
# remove extra leading and trailing whitespace 
whitespace_remover(df)

# rename columns
df = clean_columns(df)
print(list(df.columns))

print(df.info())


df.to_csv('../data/interim/logs.csv', index=False)

df.head()

The shape of the ORGINAL data is (row, column): (469977, 8)

Profiling datasets
    Attribute            Type  Num. Missing Values  Num. Unique Values Sknewness  Kurtosis
0        Hour           int64                    0                  24 -0.234879 -0.957813
1     Product          object                    0                  76       N/A       N/A
2    Category          object                    0                  33       N/A       N/A
3        Date  datetime64[ns]                    0              160815       N/A       N/A
4       Month          object                    0                   5       N/A       N/A
5  Department          object                    0                   6       N/A       N/A
6          ip          object                    0                3340       N/A       N/A
7         url          object                    0                 152       N/A       N/A

['product', 'category', 'date', 'month', 'hour', 'department', 'ip', 'url']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469977 entries, 0 to 469976
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   product     469977 non-null  object
 1   category    469977 non-null  object
 2   date        469977 non-null  datetime64[ns]
 3   month       469977 non-null  object
 4   hour        469977 non-null  int64
 5   department  469977 non-null  object
 6   ip          469977 non-null  object
 7   url         469977 non-null  object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 28.7+ MB

None

,product,category,date,month,hour,department,ip,url
0,adidas brazuca 2017 official match ball,baseball & softball,2017-09-01 06:00:00,sep,6,fitness,37.97.182.65,/department/fitness/category/baseball%20&%20so...
1,the north face women's recon backpack,hunting & shooting,2017-09-01 06:00:00,sep,6,fan shop,206.56.112.1,/department/fan%20shop/category/hunting%20&%20...
2,adidas kids' rg iii mid football cleat,featured shops,2017-09-01 06:00:00,sep,6,apparel,215.143.180.0,/department/apparel/category/featured%20shops/...
3,under armour men's compression ev sl slide,electronics,2017-09-01 06:00:00,sep,6,footwear,206.56.112.1,/department/footwear/category/electronics/prod...
4,pelican sunstream 100 kayak,water sports,2017-09-01 06:01:00,sep,6,fan shop,136.108.56.242,/department/fan%20shop/category/water%20sports...